#about-section{
  height: 550px;

  @media screen and (max-width: 930px) {
    height: auto;
  }

  #about-container{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    margin-top: 140px;
    margin-bottom: 100px;
    height: auto;

    @media screen and (max-width: 930px) {
      flex-direction: column;
      width: 100%;
      margin-top: 75px;
      margin-bottom: 30px;
    }

    #about-text{
      width: 50%;

      @media screen and (max-width: 930px) {
        width: 80%;
        margin: auto;
        text-align: center;
      }

      h2{
        font-size: 42px;
        margin-bottom: 20px;

        @media screen and (max-width: 930px) {
          text-align: center;
          font-size: 40px;
        }
        
      }
      
      p{
        font-size: 18px;
      }
    }

    #about-image{
      width: 45%;
      height: 500px;
      margin-top: auto;
      margin-bottom: auto;
      background-image: url('/sewing-machine.jpg');
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 20px;

      @media screen and (max-width: 930px) {
        display: none;
      }
    }
  }
}