.button1{
  height: 50px;
  width: 175px;
  padding: 10px;
  font-size: 18px;
  color: white;
  font-weight: 600;
  background: linear-gradient(160deg, rgb(7, 156, 241) 0%, rgb(18, 100, 231) 100%);
  border-radius: 20px;
  outline: none;
  border: none;
  
  &:hover{
    background: linear-gradient(340deg, rgb(7, 156, 241) 0%, rgb(18, 100, 231) 100%);
    cursor: pointer;
  }

  @media screen and (max-width: 650px) {
    width: 250px;
    height: 65px;
    font-size: 21px;
    margin: auto;
    display: block;
  }
}