body {
  margin: 0px;
}

div, h1, h2, h3, h4, p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;

  @media screen and (max-width: 650px) {
    text-rendering: optimizeLegibility;
  }
}

hr{
  margin-top: 70px;
  width: 70%;
  border-top: 1.5px solid rgb(219, 219, 219);

  @media screen and (max-width: 930px) {
    width: 85%;
  }
}

a{
  text-decoration: none;
}