.order-form-nav-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  .button2{
    height: 50px;
    width: 130px;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    background: linear-gradient(160deg, rgb(7, 156, 241) 0%, rgb(18, 100, 231) 100%);
    outline: none;
    border: none;
    
    &:hover{
      background: linear-gradient(340deg, rgb(7, 156, 241) 0%, rgb(18, 100, 231) 100%);
      cursor: pointer;

      svg{
        transform: scale(1.2);
      }
    }

    &:first-of-type {
      padding-right: 22px;
    }

    &:last-of-type {
      padding-left: 22px;
    }

    svg:first-of-type {
      padding-right: 10px;
    }

    svg:last-of-type {
      padding-left: 10px;
    }
  }
}
