.testimonial-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
  border: 1px solid rgba(196, 194, 194, 0.2);
  border-radius: 20px;
  box-shadow: 0px 4px 5px rgba(196, 194, 194, 0.4);
  background-color: white;
  margin-bottom: 30px;
  padding-bottom: 20px;

  @media screen and (max-width: 930px) {
    width: 100%;
  }

  .testimonial-quote{
    padding: 30px 30px 15px 30px;
    margin: 0px;
    margin-bottom: 15px;
    border-radius: 20px 20px 0px 0px;
    font-size: 18px;
    height: auto;
  }

  .testimonial-profile{
    display: flex;
    padding-left: 30px;

    img{
      border-radius: 12px;

    }

    .testimonial-info{
      display: flex;
      flex-direction: column;

      .testimonial-stars{
        padding-left: 20px;
    
        .star {
          color: rgb(255, 238, 0);
          font-size: 20px;
        }
      }
    
      .testimonial-name{
        padding-left: 20px;
        margin: 0px;
        padding-bottom: 0px;
        font-size: 22px;
      }
    }
  }
}